<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Registration Success</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container text-center">
		<h3>You have signed up successfully!</h3>
		<h4><a th:href="@{/logins}">Click here to Login</a></h4>
	</div>
	
	
	<!-- error message -->
	 <div th:if="${param.error}">
	<div class="alert alert-danger">Invalid username or password</div>
	</div>
</body>
</html>