<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registration and Login</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<body>

	<!-- create navigation bar (header -->
 
	<!-- Create Login page -->
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-3">
				<h1>Reset password </h1>
				<form th:action="@{/resetpass}" method="post" th:object="${resetPass}">

					<!-- error message -->
					 <div th:if="${param.error}">
						<div class="alert alert-danger">Invalid username or password</div>
					</div>

					<!-- Logout message -->
					<div th:if="${param.Logout}">
						<div class="alert alert-info">You have bee logged out</div>
					</div>

					<div class="form-group">
						<label for="username"> Username : </label> <input id="username"
							type="text" class="form-control" name="username"
							placeholder="Enter the Email" autofocus="autofocus">
					</div>

                      <div class="form-group">
						<label for="password">Old Password : </label> <input id="oldPassword"
							type="password" class="form-control" name="oldPassword"
							placeholder="Enter the Old Password" autofocus="autofocus">
					</div>
					
					<div class="form-group">
						<label for="password"> New Password : </label> <input id="newPassword"
							type="password" class="form-control" name="newPassword"
							placeholder="Enter the New Password" autofocus="autofocus">
					</div>
					
				   <!-- <div class="form-group">
                     <label for="confirmPassword">Confirm New Password:</label>
                    <input type="password" id="confirmPassword" class="form-control" name="confirmPassword" 
                    placeholder="Enter the New Password" autofocus="autofocus">
                  </div> -->
					
					<div class="form-group">
						<div class="row">
							<div class="col-sm-3 col-sm-offset-3">
								<input type="submit" name="login-submit" id="login-submit"
									class="form-control btn btn-primary" value="Submit">
							</div>
						</div>
					</div>
				</form>
				<div class="form-group">
				<span>New user? <a th:href="@{/}">home page</a>
					 
				</div>
			</div>
		</div>
	</div>
</body>
</html>